body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#btnInicio{
    background-color: cyan;
    border-radius: 5px;
    width: 90px;
    height: 35px;
}

#btnEstadisticas{
    background-color: rgb(45, 218, 45);
    border-radius: 5px;
    width: 90px;
    height: 35px;
}
#borrarEstadisticas{
    background-color: red;
    border-radius: 5px;
    width: 100px;
    height: 35px;

}
.supercaja {
    text-align: center;
}

.resultado{
    font-size: 25px;
    margin: 5%;
}

.CajaInicio {
    
    display: inline-block;
    text-align: left;
}


.cajaBotones {
    margin: 2%;
    text-align: center;
}

.imagesPenjat {
    margin: 3%;
    display: inline-block;
    text-align: center;
}